doctype html
html(ng-app='app')
  head
    title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/static/css/style.css')
  body(ng-controller='mainCtrl')
    ul.breadcrumbs
      li
        a(href='/') {{ target }}
      li(ng-repeat='bc in breadcrumbs')
        span &raquo;&nbsp;
        a(ng-href='#/{{ breadcrumbs.slice(0, $index + 1).join(\'/\') }}') {{ bc }}
    hr
    div(ng-view='ng-view')
    script(type='text/ng-template', id="item.html")
      <li ng-repeat="(name, file) in files" ng-init="show = false">
      <a ng-click="show = !show"><img ng-if="file.type === 'directory'" ng-src="/static/images/arrow_{{ show && 'd' || 'r' }}.png" /></a>
      <a ng-href="{{ file.type === 'file' && '/target' || '#' }}{{ currDir + '/' + name }}">{{ name }}</a>
      <ul ng-if="show && file.children" ng-include="'item.html'" ng-init="files = file.children; currDir = currDir + '/' + name"></ul>
      </li>
    script(src='/static/vendor/jquery/dist/jquery.min.js')
    script(src='/static/vendor/angular/angular.min.js')
    script(src='/static/vendor/angular-route/angular-route.min.js')
    script(src='/static/js/app.js')
